{% extends "master.html" %}
{% load i18n %}

{% block meta %}
    <title>{% trans "Glamfame – Booking platform for top salons and beauty artists - Success Payment" %}</title>
{% endblock meta %}

    {% block title %}
        {% trans "Great" %}
    {% endblock title %}

    {% block content %}
    <div class="column">
        <div class="paypal_land">
            <div class="success">
                <div class="icon ok"></div>
                {% trans "Your payment has been succesfully proccessed." %}
            </div>
            <div class="info">
                {% blocktrans %}You can view all your appointments{% endblocktrans %} <a href="{% url 'profiles_bookings' %}">{% trans "here" %}</a>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>