{% extends "master.html" %}
{% load i18n %}

{% block meta %}
    <title>{% trans "Glamfame – Booking platform for top salons and beauty artists - How it works for users" %}</title>
{% endblock meta %}

    {% block stylesheet %}
    {% endblock stylesheet %}

    {% block content %}
<div id="content" class="gray users" style="margin-bottom: 0px;">
    <div class="screen big">
        <div class="column">
            <ul>
                <li class="bolded">{% trans "Want to be glamorous? Get the Appearance of Your Dreams! Glam yourself today!" %}</li>
                <li class="bolded">{% trans "Glamfame is the beauty platform, where you can find particular hairstyles, nail-art styles, or celebrity lookalike makeup. You will be able to see the ratings of beauty salons and beauty artists and their reviews. In addition, you can:" %}</li>
                <li><div class="icon_check"></div>{% trans "List your reviews and feedback" %}</li>
                <li><div class="icon_check"></div>{% trans "Get exactly what you are paying for" %}</li>
                <li><div class="icon_check"></div>{% trans "Save time and money" %}</li>
                <li><div class="icon_check"></div>{% trans "Forget about trial hairstyles and makeup before special events" %}</li>
            </ul>
            {% if not request.user.is_authenticated %}
            <a href="{% url 'sign_up' %}" class="new_button white nb_hover">{% trans "SIGN UP NOW" %}</a>
            {% endif %}
            <div class="trendy">
                <span class="arrow_down"></span>
                <span class="arrow_down"></span>
                {% trans "NOT CONVINCED? CHECK SOME OF OUR BENEFITS BELOW" %}
                <span class="arrow_down"></span>
                <span class="arrow_down"></span>
            </div>
        </div>
    </div>
    <div class="screen header">
        <div class="column">
            <div class="hexagon_parent">
                <div class="hexagon blue"></div>
                <span>{% trans "FIND THE BEST LOOK FOR YOU" %}</span>
                <div class="hexagon-icon scissors"></div>
            </div>
            <div class="hexagon_parent">
                <div class="hexagon orange"></div>
                <span>{% trans "MAKE APPOINTMENTS" %}</span>
                <div class="hexagon-icon calendar"></div>
            </div>
            <div class="hexagon_parent">
                <div class="hexagon green"></div>
                <span>{% trans "FOLLOW YOUR FAVORITE ARTISTS" %}</span>
                <div class="hexagon-icon follow"></div>
            </div>
            <div class="hexagon_parent">
                <div class="hexagon purple"></div>
                <span>{% trans "CREATE YOUR wishlist" %}</span>
                <div class="hexagon-icon heart"></div>
            </div>
            <div class="hexagon_parent">
                <div class="hexagon gray"></div>
                <span>{% trans "MANAGE YOUR APPOINTMENTS" %}</span>
                <div class="hexagon-icon gear"></div>
            </div>
        </div>
    </div>
    <div class="screen odd">
        <div class="column">
            <div class="picture step_1"></div>
            <div class="text">
                <h3>{% trans "Sign up." %}</h3>
                <p>{% trans "It takes less than a minute. And it's FREE." %}</p>
            </div>
        </div>
    </div>
    <div class="screen even">
        <div class="column">
            <div class="text">
                <h3>{% trans "Find the best look for you." %}</h3>
                <p>{% trans "Enter your address, browse through thousands of listings and select the style you want." %}</p>
            </div>
            <div class="picture step_2"></div>
        </div>
    </div>
    <div class="screen odd">
        <div class="column">
            <div class="picture step_3"></div>
            <div class="text">
                <h3>{% trans "Make appointments." %}</h3>
                <p>{% trans "When you are ready with your choice, simply click on Book now button and submit your payment details.<br>The moeny will be withdraw from your account after the end of your appointment." %}</p>
            </div>
        </div>
    </div>
    <div class="screen even">
        <div class="column">
            <div class="text">
                <h3>{% trans "Follow your favorite beauty artists" %}</h3>
                <p>{% trans "It you really like the portfolio of a beauty professional, just click on the Follow button. That way you will never miss an offer from that artist!" %}</p>
            </div>
            <div class="picture step_4"></div>
        </div>
    </div>
    <div class="screen odd">
        <div class="column">
            <div class="picture step_5"></div>
            <div class="text">
                <h3>{% trans "Create your wishlist" %}</h3>
                <p>{% trans "You can add offers to your wishlist and book them later." %}</p>
            </div>
        </div>
    </div>
    <div class="screen even">
        <div class="column">
            <div class="text">
                <h3>{% trans "Manage your appointments." %}</h3>
                <p>{% trans "Be on top of all your appointments. Receive email and web reminders when the appoitment dates are near." %}</p>
            </div>
            <div class="picture step_6"></div>
        </div>
    </div>
    <div class="screen small">
        <div class="trendy">{% trans "ONE PLATFORM TO RULE THEM ALL" %}</div>
        <div class="hexagon_wrapper">
            <div class="column">
                <div class="hexagon_parent">
                    <div class="hexagon white"></div>
                    <div class="hexagon-icon laptop"></div>
                </div>
                <div class="hexagon_parent ruler">
                    <div class="hexagon white"></div>
                    <div class="hexagon-icon tablet"></div>
                </div>
                <div class="hexagon_parent">
                    <div class="hexagon white"></div>
                    <div class="hexagon-icon phone"></div>
                </div>
            </div>
        </div>
        {% if not request.user.is_authenticated %}
        <a href="{% url 'sign_up' %}" class="new_button white nb_hover">{% trans "SIGN UP NOW" %}</a>
        {% endif %}
    </div>
</div>
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
