{% extends "master.html" %}
{% load thumbnail %}
{% load i18n %}

{% block meta %}
    <title>Glamfame – Booking platform for top salons and beauty artists - Imprint</title>
{% endblock meta %}

    {% block stylesheet %}
    {% endblock stylesheet %}

    {% block content %}
<div id="content">
    <div class="header">
        <span>IMPRINT</span>
    </div>
    <div class="text_box column terms imprint">
        <div class="content text">
            <p>
                <b>Glamfame.com is brought to you by:</b><br>
                PAYMILL GmbH <br>
                St.-Cajetan-Straße <br>
                81669 Munich <br>
                Germany <br>
            </p>
            <p>
                <b>Executive Directors:</b><br>
                Antony Ivanov, Ivo Tasev, Georgi Zhuhov and Nikoleta Ventseslavova
            </p>
            <p>
                <b>Company Information:</b><br>
                Germany - Registered at Munich District Court, Germany, HRB 200200 <br>
                Tax number 143/169/75071 <br>
                VAT ID: DE285277965 <br>
            </p>
            <p>
            <b>Liability Notice:</b><br>
            Despite carefully monitoring all contents, we do not assume any liability for the contents of external links. Their operators shall be solely responsible for the contents of the linked websites. Some type errors may be present.
            </p>
        </div>
    </div>
</div>
    {% endblock content %}
    {% block scripts %}

    {% endblock scripts %}
    </body>
</html>
