{% extends "master.html" %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}

{% block meta %}
    <title>{% trans "Glamfame – Booking platform for top salons and beauty artists - Profile" %}</title>
{% endblock meta %}

    {% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/css/rateit.css">
    {% endblock stylesheets %}

    {% block content %}
<div id="content">
    <h1 class="header">
        {{ profile.user.first_name }} {% trans "Profile" %}
    </h1>

    <div class="column">
        <ul id="aritst_profile">
            <li class="left_column">
                <ul class="main_info user">
                    <li>
                        <ul>
                            <li class="profile_pic">
                                {% thumbnail profile.get_avatar "150x150" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{profile.user.first_name}}" width="150" height="150">
                                {% empty %}
                                    <img src="{{ STATIC_URL }}img/default.png" alt="{{profile.user.first_name}}" width="150" height="150">
                                {% endthumbnail %}
                            </li>
                            <li>
                                {{profile.user.first_name}}
                            </li>
                            <li class="type_style">{% trans "Beauty Seeker" %}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="right_column">
                <ul class="nav_bar user">
                    <li class="clickable active"><a href="javascript:;"><span></span>{% trans "Wishlist" %} ({{ listings|length }})</a></li>
                    <li class="clickable"><a href="javascript:;"><span></span>{% trans "Reviews" %} ({{ reviews|length }})</a></li>
                    <li class="clickable"><a href="javascript:;"><span></span>{% trans "Following" %} ({{ artists|length }})</a></li>
                </ul>
                <div class="clear"></div>

                <div class="reviews styled">
                    {% if reviews|length %}
                    {% for review in reviews %}
                    <div class="review">
                        <div class="left">
                            <a href="{% url 'profile_user' review.client_id review.artist.user.first_name %}">
                            {% thumbnail review.artist.get_avatar "60x60" crop="center" as im %}
                                <img class="clickable" src="{{ im.url }}" alt="{{review.artist.user.first_name}}" width="60" height="60">
                            {% empty %}
                                <img src="{{ STATIC_URL }}img/default.png" alt="{{review.artist.user.first_name}}" width="60" height="60">
                            {% endthumbnail %}
                            </a>
                        </div>
                        <div class="right">
                            <div class="name has_been_reviewed">{% trans "Review of" %} <a href="{% url 'profile_artist' review.artist_id review.artist.user.first_name %}">{{ review.artist.user.first_name }}</a>:</div>
                            <div class="text">{{ review.text }}</div>
                            <div class="info">
                                <span class="ago">{{ review.created|naturaltime }}</span>
                                <div class="rateit bigstars" data-rateit-value="{{ review.rating }}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-starwidth="22" data-rateit-starheight="21"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        <div class="nothing">{% trans "Currently the artist doesn't have any reviews" %}</div>
                    {% endif %}
                </div>

                <div class="listings">
                {% if listings %}
                <ul class="gallery col_3">
                    {% for listing in listings %}
                    <li class="pic_view">
                        <ul>
                            <li class="picture">
                            <a href="{% url 'listing' listing.id listing.title %}">
                                {% thumbnail listing.get_picture "240x143" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{ listing.title }}" width="240" height="143" >
                                {% empty %}
                                    <img src="{{ STATIC_URL }}/img/listing_placeholder.png" alt="{{ listing.title }}" width="240" height="143">
                                {% endthumbnail %}
                                <div class="overlay"></div>
                            </a>
                            </li>
                            <li class="text">
                                <div class="title">{{ listing.title }}</div>
                                <div class="info">
                                    <div class="heart">{{ listing.likes }}</div>
                                    <div class="price">{{ listing.get_currency_display }} {{ listing.price|floatformat:-3 }}</div>
                                    <div class="comments">{{ listing.comments }}</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="nothing">{% trans "Currently the user doesn't have any listings in wishlist" %}</div>
                {% endif %}
                </div>

                <div class="followers">
                {% if artists %}
                <ul>
                {% for artist in artists %}
                    <li class="followed">
                        <a href="{% url 'profile_artist' artist.id artist.user.first_name %}">
                        <ul>
                            <li class="avatar">
                                {% thumbnail artist.get_avatar "90x90" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{ artist.user.first_name }}" width="90" height="90">
                                {% empty %}
                                    <img src="{{ STATIC_URL }}img/default.png" alt="{{ artist.user.first_name }}" width="90" height="90">
                                {% endthumbnail %}
                            </li>
                            <li class="name" title="{{ artist.user.first_name }}"> {% if artist.user.first_name|length > 13 and not " " in artist.user.first_name %}{{ artist.user.first_name|truncatechars:13 }}{% else %}{{artist.user.first_name}}{% endif %}</li>
                            <li class="name"></li>
                        </ul>
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                <div class="nothing">{% trans "Currently the user doesn't followed any artist" %}</div>
                {% endif %}
                </div>

            </li>
        </ul>

    </div>
</div>

    {% endblock content %}

    {% block scripts %}
        <script src="{{STATIC_URL}}js/jquery.rateit.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('.listings').show();
            $('.reviews').hide();
            $('.followers').hide();

            $ (".nav_bar li").click(function(){
                $(this).parent().children().removeClass("active");
                $(this).addClass("active")
                if ($(this).index() == 0){
                    $('.listings').show();
                    $('.reviews').hide();
                    $('.followers').hide();
                }
                else if($(this).index() == 1){
                    $('.listings').hide();
                    $('.reviews').show();
                    $('.followers').hide();
                }
                else{
                    $('.reviews').hide();
                    $('.listings').hide();
                    $('.followers').show();
                }
            });
        });
        </script>
    {% endblock scripts %}
</body>
</html>
