{% extends "master.html" %}
{% load i18n %}
{% load thumbnail %}

{% block meta %}
    <title>{% trans "Glamfame – Booking platform for top salons and beauty artists - Wishlist" %}</title>
{% endblock meta %}

    {% block content %}
<div id="content">
    <div class="header">
        <span>{% trans "WISHLIST" %}</span>
    </div>

    <div class="column">
            <ul class="gallery">
                {% for listing in listings %}
                <li class="pic_view">
                    <ul>
                        <li class="picture">
                            <a href="{% url 'listing' listing.id listing.title %}">
                            {% thumbnail listing.get_picture "240x143" crop="center" as im %}
                                <img src="{{ im.url }}" alt="{{ listing.title }}" width="240" height="143">
                            {% empty %}
                                <img src="{{ STATIC_URL }}/img/listing_placeholder.png" alt="{{ listing.title }}" width="240" height="143">
                            {% endthumbnail %}
                                <div class="overlay"></div>
                            </a>
                        </li>
                        <li class="text">
                            <div class="title">{{ listing.title }}</div>
                            <div class="info">
                                <div class="heart">{{ listing.likes }}</div>
                                <div class="price">{{ listing.get_currency_display }} {{ listing.price|floatformat:-3 }}</div>
                                <div class="comments">{{ listing.comments }}</div>
                            </div>
                        </li>
                        <li class="artist">
                            <a href="{% url 'profile_artist' listing.artist_id listing.artist.user.first_name %}">
                            {% thumbnail listing.artist.get_avatar "60x60" crop="center" as im %}
                                <img src="{{ im.url }}" alt="artist" width="60" height="60">
                            {% empty %}
                                <img src="{{ STATIC_URL }}img/default.png" alt="artist" width="60" height="60">
                            {% endthumbnail %}
                            </a>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}

    {% block scripts %}

    {% endblock scripts %}
</body>
</html>
