{% extends "master.html" %}
{% load i18n %}
{% load thumbnail %}

    {% block meta %}
        <title>{% trans "Glamfame – Booking platform for top salons and beauty artists - All Listings" %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
    {% endblock meta %}

    {% block title %}
        {% trans "Listings" %}
    {% endblock title %}

    {% block content %}
    <div class="column">
            <ul class="gallery col_4">
                {% for listing in listings %}
                <li class="pic_view">
                <a href="{% url 'listing' listing.id listing.title %}">
                    <ul>
                        <li class="picture">
                            {% thumbnail listing.get_picture "98x65" crop="center" as im %}
                                <img src="{{ im.url }}" alt="{{listing.title}}" width="98" height="65" {% if not listing.status == 1 %}class="deactivated"{% endif %}>
                            {% empty %}
                                <img src="{{ STATIC_URL }}/img/listing_placeholder.png" alt="image not found" width="98" height="65">
                            {% endthumbnail %}
                        </li>
                        <li class="text">
                            <p class="title" data-title="{{ listing.title }}">{{ listing.title }}</p>
                            <p>{{ listing.comments }} {% trans "comments" %}</p>
                            <p>{{ listing.likes }} {% trans "likes" %}</p>
                        </li>
                        <li class="price">
                            <div>{{ listing.get_currency_display }} {{ listing.price|floatformat:-3 }}</div>
                        </li>
                        {% if listing.status == 1 %}
                        <li class="delete"><a href="{% url 'delete_listing' listing.id %}" class="new_button red nb_hover">{% trans "Deactivate" %}</a></li>
                        {% elif listing.status == 2 %}
                        <li class="delete"><a href="{% url 'activate_listing' listing.id %}" class="new_button green nb_hover">{% trans "Activate" %}</a></li>
                        {% elif listing.status == 0 %}
                        <li class="pending">{% trans "Pending<br/>(Currently we are reviewing your listing)" %}</li>
                        {% else %}
                        <li class="forbidden">{% trans "Forbidden<br/>(The content is not appropriate for this website)" %}</li>
                        {% endif %}
                    </ul>
                </a>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>

    {% endblock content %}

    {% block scripts %}

    {% endblock scripts %}
</body>
</html>
